li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #bababa;
    font-style: italic;
}
section{
    font-family: sans-serif;
    width: 90%;
    margin: auto;
}
.ej1{
    margin-left: 25px;   
}
.title{
    /* font-family: fantasy; */
    font-size: 35px;
    text-align: center;
}
.events{
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.subtitle{
    font-family: fantasy;
    font-size: 21px;
    text-align: center;
}
.dcha{
    width: 28%;
}
.dcha img{
    width: 100%;
    object-fit: cover;
    margin-top: 48%;
}
.izq{
    width: 70%;   
}
.izq p{
    font-size: 1.1vw;
}
ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}
.izq li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    width: 95%;
    box-shadow: 1px 1px 2px #ccc;
}
.izq li:hover{
    background-color: #e3e2e2c2;
}
.izq li:hover a{
    color: #9C27B0;
}

@media (max-width: 780px) {
    .ej1{margin-left: 0;}
    .events{
        flex-direction: column;
    }
    .dcha, .izq{width: 100%;}
    .dcha img{margin: 3% 0;}
    .izq li{flex-direction: column;}
    .izq p{font-size: 14px; margin: 0;}
}